Repository vavr-io/vavr, pull requests merged in 2018-03, with the labels that each got.

#2220 Fix some typos and formatting
  vavr/src/main/java/io/vavr/concurrent/Future.java
  vavr/src/main/java/io/vavr/concurrent/FutureImpl.java
  vavr/src/main/java/io/vavr/control/Validation.java
Labels: documentation, «cross cutting»

#2218 Actually describe what Linked collections achieve
  vavr/src/main/java/io/vavr/collection/LinkedHashMap.java
  vavr/src/main/java/io/vavr/collection/LinkedHashSet.java
Labels: documentation, «vavr-collection»

#2224 Fix missing generated test sources
  pom.xml
Labels: build/infrastructure/ide, «non-public»

#2227 Added two Stream tests that might come handy when making Stream truly lazy
  vavr/src/test/java/io/vavr/collection/StreamTest.java
Labels: test/benchmark, «vavr-collection»

#2221 Add concat methods to Tuple classes
  vavr/generator/Generator.scala
  vavr/src-gen/main/java/io/vavr/Tuple0.java
  vavr/src-gen/main/java/io/vavr/Tuple1.java
  vavr/src-gen/main/java/io/vavr/Tuple2.java
  vavr/src-gen/main/java/io/vavr/Tuple3.java
  vavr/src-gen/main/java/io/vavr/Tuple4.java
  vavr/src-gen/main/java/io/vavr/Tuple5.java
  vavr/src-gen/main/java/io/vavr/Tuple6.java
  vavr/src-gen/main/java/io/vavr/Tuple7.java
  vavr/src-gen/main/java/io/vavr/Tuple8.java
  vavr/src-gen/test/java/io/vavr/Tuple0Test.java
  vavr/src-gen/test/java/io/vavr/Tuple1Test.java
  vavr/src-gen/test/java/io/vavr/Tuple2Test.java
  vavr/src-gen/test/java/io/vavr/Tuple3Test.java
  vavr/src-gen/test/java/io/vavr/Tuple4Test.java
  vavr/src-gen/test/java/io/vavr/Tuple5Test.java
  vavr/src-gen/test/java/io/vavr/Tuple6Test.java
  vavr/src-gen/test/java/io/vavr/Tuple7Test.java
Labels: feature, «vavr-core»

#2226 Fix bug in LinkedHashMap#ofEntries(): list of tuples in some case can contains more elements that contains map itself
  vavr/src/main/java/io/vavr/collection/LinkedHashMap.java
  vavr/src/test/java/io/vavr/collection/AbstractMapTest.java
  vavr/src/test/java/io/vavr/collection/HashMapTest.java
  vavr/src/test/java/io/vavr/collection/LinkedHashMapTest.java
  vavr/src/test/java/io/vavr/collection/TreeMapTest.java
Labels: bug, «vavr-collectionx»

#2231 Implement Traversable#fill(int, T) methods
  vavr-benchmark/src/test/java/io/vavr/collection/ArrayBenchmark.java
  vavr-benchmark/src/test/java/io/vavr/collection/ListBenchmark.java
  vavr-benchmark/src/test/java/io/vavr/collection/PriorityQueueBenchmark.java
  vavr-benchmark/src/test/java/io/vavr/collection/VectorBenchmark.java
  vavr/src/main/java/io/vavr/collection/Array.java
  vavr/src/main/java/io/vavr/collection/Collections.java
  vavr/src/main/java/io/vavr/collection/HashMap.java
  vavr/src/main/java/io/vavr/collection/HashMultimap.java
  vavr/src/main/java/io/vavr/collection/HashSet.java
  vavr/src/main/java/io/vavr/collection/Iterator.java
  vavr/src/main/java/io/vavr/collection/LinkedHashMap.java
  vavr/src/main/java/io/vavr/collection/LinkedHashMultimap.java
  vavr/src/main/java/io/vavr/collection/LinkedHashSet.java
  vavr/src/main/java/io/vavr/collection/List.java
  vavr/src/main/java/io/vavr/collection/PriorityQueue.java
  vavr/src/main/java/io/vavr/collection/Queue.java
  vavr/src/main/java/io/vavr/collection/Stream.java
  vavr/src/main/java/io/vavr/collection/Tree.java
  vavr/src/main/java/io/vavr/collection/TreeMap.java
  vavr/src/main/java/io/vavr/collection/TreeMultimap.java
  vavr/src/main/java/io/vavr/collection/TreeSet.java
  vavr/src/main/java/io/vavr/collection/Vector.java
  vavr/src/test/java/io/vavr/collection/AbstractMapTest.java
  vavr/src/test/java/io/vavr/collection/AbstractMultimapTest.java
  vavr/src/test/java/io/vavr/collection/AbstractSeqTest.java
  vavr/src/test/java/io/vavr/collection/AbstractSetTest.java
  vavr/src/test/java/io/vavr/collection/AbstractTraversableTest.java
  vavr/src/test/java/io/vavr/collection/ArrayTest.java
  vavr/src/test/java/io/vavr/collection/HashMultimapTest.java
  vavr/src/test/java/io/vavr/collection/IteratorTest.java
  vavr/src/test/java/io/vavr/collection/LinkedHashMultimapTest.java
  vavr/src/test/java/io/vavr/collection/ListTest.java
  vavr/src/test/java/io/vavr/collection/PriorityQueueTest.java
  vavr/src/test/java/io/vavr/collection/QueueTest.java
  vavr/src/test/java/io/vavr/collection/StreamTest.java
  vavr/src/test/java/io/vavr/collection/TreeMultimapTest.java
  vavr/src/test/java/io/vavr/collection/TreeTest.java
  vavr/src/test/java/io/vavr/collection/VectorTest.java
Labels: feature, «vavr-collectionx», «vavr-collection»
