Repository vavr-io/vavr, pull requests merged in 2018-07, with the labels that each got.

#2265 Satisfied Javadoc linter
  vavr/src/main/java/io/vavr/control/Either.java
  vavr/src/main/java/io/vavr/control/Validation.java
Labels: bug, documentation

#2267 Collection functions
  vavr/generator/Generator.scala
  vavr/src-gen/test/java/io/vavr/APITest.java
  vavr/src/main/java/io/vavr/collection/IndexedSeq.java
  vavr/src/main/java/io/vavr/collection/LinearSeq.java
  vavr/src/main/java/io/vavr/collection/Map.java
  vavr/src/main/java/io/vavr/collection/Multimap.java
  vavr/src/main/java/io/vavr/collection/Seq.java
  vavr/src/main/java/io/vavr/collection/Set.java
  vavr/src/test/java/io/vavr/MatchTest.java
  vavr/src/test/java/io/vavr/collection/AbstractMapTest.java
  vavr/src/test/java/io/vavr/collection/AbstractMultimapTest.java
  vavr/src/test/java/io/vavr/collection/AbstractSeqTest.java
  vavr/src/test/java/io/vavr/collection/AbstractTraversableTest.java
  vavr/src/test/java/io/vavr/collection/CharSeqTest.java
  vavr/src/test/java/io/vavr/collection/QuickSortTest.java
  vavr/src/test/java/io/vavr/collection/StreamTest.java
Labels: !BACK-COMPAT, design/refactoring/improvement, «vavr-collectionx», «vavr-collection»

#2268 Removed @GwtIncompatible in favor of vavr/vavr-gwt#16
  vavr/generator/Generator.scala
  vavr/src-gen/main/java/io/vavr/API.java
  vavr/src/main/java/io/vavr/GwtIncompatible.java
  vavr/src/main/java/io/vavr/Lazy.java
  vavr/src/main/java/io/vavr/Predicates.java
  vavr/src/main/java/io/vavr/Value.java
  vavr/src/main/java/io/vavr/collection/Array.java
  vavr/src/main/java/io/vavr/collection/CharSeq.java
  vavr/src/main/java/io/vavr/collection/Collections.java
  vavr/src/main/java/io/vavr/collection/GwtIncompatible.java
  vavr/src/main/java/io/vavr/collection/HashSet.java
  vavr/src/main/java/io/vavr/collection/IndexedSeq.java
  vavr/src/main/java/io/vavr/collection/Iterator.java
  vavr/src/main/java/io/vavr/collection/JavaConverters.java
  vavr/src/main/java/io/vavr/collection/LinearSeq.java
  vavr/src/main/java/io/vavr/collection/LinkedHashSet.java
  vavr/src/main/java/io/vavr/collection/List.java
  vavr/src/main/java/io/vavr/collection/PriorityQueue.java
  vavr/src/main/java/io/vavr/collection/Queue.java
  vavr/src/main/java/io/vavr/collection/Seq.java
  vavr/src/main/java/io/vavr/collection/Stream.java
  vavr/src/main/java/io/vavr/collection/Tree.java
  vavr/src/main/java/io/vavr/collection/TreeSet.java
  vavr/src/main/java/io/vavr/collection/Vector.java
  vavr/src/main/java/io/vavr/concurrent/Future.java
  vavr/src/main/java/io/vavr/concurrent/GwtIncompatible.java
  vavr/src/main/java/io/vavr/control/GwtIncompatible.java
  vavr/src/main/java/io/vavr/control/Try.java
Labels: design/refactoring/improvement, «gwt»

#2271 remove `(Constant)?Function[0-8]#constant`
  vavr/generator/Generator.scala
  vavr/src-gen/main/java/io/vavr/CheckedFunction0.java
  vavr/src-gen/main/java/io/vavr/CheckedFunction1.java
  vavr/src-gen/main/java/io/vavr/CheckedFunction2.java
  vavr/src-gen/main/java/io/vavr/CheckedFunction3.java
  vavr/src-gen/main/java/io/vavr/CheckedFunction4.java
  vavr/src-gen/main/java/io/vavr/CheckedFunction5.java
  vavr/src-gen/main/java/io/vavr/CheckedFunction6.java
  vavr/src-gen/main/java/io/vavr/CheckedFunction7.java
  vavr/src-gen/main/java/io/vavr/CheckedFunction8.java
  vavr/src-gen/main/java/io/vavr/Function0.java
  vavr/src-gen/main/java/io/vavr/Function1.java
  vavr/src-gen/main/java/io/vavr/Function2.java
  vavr/src-gen/main/java/io/vavr/Function3.java
  vavr/src-gen/main/java/io/vavr/Function4.java
  vavr/src-gen/main/java/io/vavr/Function5.java
  vavr/src-gen/main/java/io/vavr/Function6.java
  vavr/src-gen/main/java/io/vavr/Function7.java
  vavr/src-gen/main/java/io/vavr/Function8.java
  vavr/src-gen/test/java/io/vavr/CheckedFunction0Test.java
  vavr/src-gen/test/java/io/vavr/CheckedFunction1Test.java
  vavr/src-gen/test/java/io/vavr/CheckedFunction2Test.java
  vavr/src-gen/test/java/io/vavr/CheckedFunction3Test.java
  vavr/src-gen/test/java/io/vavr/CheckedFunction4Test.java
  vavr/src-gen/test/java/io/vavr/CheckedFunction5Test.java
  vavr/src-gen/test/java/io/vavr/CheckedFunction6Test.java
  vavr/src-gen/test/java/io/vavr/CheckedFunction7Test.java
  vavr/src-gen/test/java/io/vavr/CheckedFunction8Test.java
  vavr/src-gen/test/java/io/vavr/Function0Test.java
  vavr/src-gen/test/java/io/vavr/Function1Test.java
  vavr/src-gen/test/java/io/vavr/Function2Test.java
  vavr/src-gen/test/java/io/vavr/Function3Test.java
  vavr/src-gen/test/java/io/vavr/Function4Test.java
  vavr/src-gen/test/java/io/vavr/Function5Test.java
  vavr/src-gen/test/java/io/vavr/Function6Test.java
  vavr/src-gen/test/java/io/vavr/Function7Test.java
  vavr/src-gen/test/java/io/vavr/Function8Test.java
Labels: !BACK-COMPAT, design/refactoring/improvement, «vavr-core»

#2270 update »Scala Maven Plugin« to fix build error on generating Java source(s)
  .travis.yml
  pom.xml
Labels: bug, build/infrastructure/ide

#2272 Removed the unsafe 'sneaky throw'
  vavr-test/generator/Generator.scala
  vavr-test/src-gen/main/java/io/vavr/test/Property.java
  vavr/generator/Generator.scala
  vavr/src-gen/main/java/io/vavr/API.java
  vavr/src/main/java/io/vavr/Value.java
  vavr/src/main/java/io/vavr/control/Try.java
  vavr/src/test/java/io/vavr/AbstractValueTest.java
  vavr/src/test/java/io/vavr/concurrent/FutureTest.java
  vavr/src/test/java/io/vavr/control/TryTest.java
Labels: !BACK-COMPAT, design/refactoring/improvement, «vavr-core»

#2274 housekeeping
  pom.xml
Labels: build/infrastructure/ide

#2275 Modularization: moving hash calculation to tuples, removing dead code
  vavr-benchmark/src/test/java/io/vavr/other/ObjectsBenchmark.java
  vavr/generator/Generator.scala
  vavr/src-gen/main/java/io/vavr/Tuple.java
  vavr/src-gen/main/java/io/vavr/Tuple1.java
  vavr/src-gen/main/java/io/vavr/Tuple2.java
  vavr/src-gen/main/java/io/vavr/Tuple3.java
  vavr/src-gen/main/java/io/vavr/Tuple4.java
  vavr/src-gen/main/java/io/vavr/Tuple5.java
  vavr/src-gen/main/java/io/vavr/Tuple6.java
  vavr/src-gen/main/java/io/vavr/Tuple7.java
  vavr/src-gen/main/java/io/vavr/Tuple8.java
  vavr/src/main/java/io/vavr/Lazy.java
  vavr/src/main/java/io/vavr/collection/Collections.java
  vavr/src/main/java/io/vavr/collection/HashArrayMappedTrie.java
  vavr/src/main/java/io/vavr/collection/Tree.java
  vavr/src/main/java/io/vavr/control/Either.java
  vavr/src/main/java/io/vavr/control/HashCodes.java
  vavr/src/main/java/io/vavr/control/Option.java
  vavr/src/main/java/io/vavr/control/Try.java
  vavr/src/main/java/io/vavr/control/Validation.java
  vavr/src/test/java/io/vavr/TupleTest.java
Labels: !BACK-COMPAT, design/refactoring/improvement, «cross cutting»

#2276 Modularization: made PartialFunction independent of Option and Value.
  vavr/src/main/java/io/vavr/PartialFunction.java
  vavr/src/main/java/io/vavr/control/Option.java
  vavr/src/test/java/io/vavr/PartialFunctionTest.java
Labels: !BACK-COMPAT, design/refactoring/improvement, «vavr-controlx», «vavr-core»
