Repository vavr-io/vavr, pull requests merged in 2019-08, with the labels that each got.

#2478 Deprecated Lazy type
  src/main/java/io/vavr/Lazy.java
Labels: deprecation, «vavr-core»

#2479 Strategic move: first step slicing VAVR into smaller modules
  generator/Generator.sc
  src-gen/main/java/io/vavr/API.java
  src-gen/main/java/io/vavr/Tuple.java
  src-gen/main/java/io/vavr/collection/ArrayType.java
  src-gen/test/java/io/vavr/APITest.java
  src/main/java/io/vavr/Iterable.java
  src/main/java/io/vavr/Lazy.java
  src/main/java/io/vavr/Predicates.java
  src/main/java/io/vavr/Value.java
  src/main/java/io/vavr/collection/AbstractMultimap.java
  src/main/java/io/vavr/collection/AbstractQueue.java
  src/main/java/io/vavr/collection/Array.java
  src/main/java/io/vavr/collection/BitSet.java
  src/main/java/io/vavr/collection/CharSeq.java
  src/main/java/io/vavr/collection/HashArrayMappedTrie.java
  src/main/java/io/vavr/collection/HashMap.java
  src/main/java/io/vavr/collection/HashMultimap.java
  src/main/java/io/vavr/collection/HashSet.java
  src/main/java/io/vavr/collection/IndexedSeq.java
  src/main/java/io/vavr/collection/Iterator.java
  src/main/java/io/vavr/collection/LinearSeq.java
  src/main/java/io/vavr/collection/LinkedHashMap.java
  src/main/java/io/vavr/collection/LinkedHashMultimap.java
  src/main/java/io/vavr/collection/LinkedHashSet.java
  src/main/java/io/vavr/collection/List.java
  src/main/java/io/vavr/collection/Map.java
  src/main/java/io/vavr/collection/Maps.java
  src/main/java/io/vavr/collection/Multimap.java
  src/main/java/io/vavr/collection/PriorityQueue.java
  src/main/java/io/vavr/collection/Queue.java
  src/main/java/io/vavr/collection/RedBlackTree.java
  src/main/java/io/vavr/collection/Seq.java
  src/main/java/io/vavr/collection/Set.java
  src/main/java/io/vavr/collection/SortedMap.java
  src/main/java/io/vavr/collection/SortedMultimap.java
  src/main/java/io/vavr/collection/SortedSet.java
  src/main/java/io/vavr/collection/Stream.java
  src/main/java/io/vavr/collection/Traversable.java
  src/main/java/io/vavr/collection/Tree.java
  src/main/java/io/vavr/collection/TreeMap.java
  src/main/java/io/vavr/collection/TreeMultimap.java
  src/main/java/io/vavr/collection/TreeSet.java
  src/main/java/io/vavr/collection/Vector.java
  src/main/java/io/vavr/concurrent/Future.java
  src/main/java/io/vavr/control/Either.java
  src/main/java/io/vavr/control/Option.java
  src/main/java/io/vavr/control/Try.java
  src/main/java/io/vavr/control/Validation.java
  src/test/java/io/vavr/AbstractValueTest.java
  src/test/java/io/vavr/collection/AbstractMapTest.java
  src/test/java/io/vavr/collection/AbstractTraversableTest.java
  src/test/java/io/vavr/collection/ArrayTest.java
  src/test/java/io/vavr/collection/StreamTest.java
  src/test/java/io/vavr/collection/TreeTest.java
  src/test/java/io/vavr/concurrent/FutureTest.java
  src/test/java/linter/CodingConventions.java
Labels: design/refactoring/improvement, «vavr-core»

#2481 Another batch of Either javadoc code examples (#2458)
  src/main/java/io/vavr/control/Either.java
Labels: documentation, «vavr-control»

#2480 Deprecated API.TODO()
  generator/Generator.sc
  src-gen/main/java/io/vavr/API.java
  src/main/java/io/vavr/NotImplementedError.java
Labels: deprecation, «vavr-api»

#2482 Fixes upload of snapshots on travis ci build
  .travis.yml
  build.gradle
Labels: build/infrastructure/ide

#2483 Filtering unnecessary snapshot uploads
  .travis.yml
Labels: build/infrastructure/ide

#2485 Upload code coverage stats only on deploy-build. Changed deploy-build to LTS JDK
  .travis.yml
Labels: build/infrastructure/ide

#2486 First steps of making the readme a better appetizer.
  README.md
Labels: documentation

#2487 Removes the automatic module name (JPMS) because of a name clash.
  build.gradle
Labels: !BACK-COMPAT, bug, «cross cutting»

#2488 Fixes OpenJDK early access builds
  .travis.yml
Labels: build/infrastructure/ide

#2489 Added Iterable.forEachWithIndex
  src/main/java/io/vavr/Iterable.java
Labels: feature, «vavr-core»

#2484 Fix integer overflow in range
  src/main/java/io/vavr/collection/Iterator.java
  src/test/java/io/vavr/collection/AbstractTraversableRangeTest.java
Labels: bug, «vavr-collection»

#2494 Added code examples for some Option methods
  src/main/java/io/vavr/control/Option.java
Labels: documentation, «vavr-control»

#2493 Introduce Either.recover method
  src/main/java/io/vavr/control/Either.java
  src/test/java/io/vavr/control/EitherTest.java
Labels: feature, «vavr-control»
