Repository vavr-io/vavr, pull requests merged in 2019-12, with the labels that each got.

#2522 Simplify internal implementation of Tuple#hash static methods
  generator/Generator.sc
  src-gen/main/java/io/vavr/Tuple.java
  src-gen/main/java/io/vavr/Tuple1.java
  src-gen/main/java/io/vavr/Tuple2.java
  src-gen/main/java/io/vavr/Tuple3.java
  src-gen/main/java/io/vavr/Tuple4.java
  src-gen/main/java/io/vavr/Tuple5.java
  src-gen/main/java/io/vavr/Tuple6.java
  src-gen/main/java/io/vavr/Tuple7.java
  src-gen/main/java/io/vavr/Tuple8.java
Labels: design/refactoring/improvement, «vavr-core»

#2525 Document the parallel execution behaviour of Seq Collectors
  src/main/java/io/vavr/collection/Array.java
  src/main/java/io/vavr/collection/CharSeq.java
  src/main/java/io/vavr/collection/List.java
  src/main/java/io/vavr/collection/Queue.java
  src/main/java/io/vavr/collection/Stream.java
  src/main/java/io/vavr/collection/Vector.java
Labels: documentation, «vavr-collection»

#2526 Extract repeatable logic for generating Collector implementations for Seq-based types
  src/main/java/io/vavr/collection/Array.java
  src/main/java/io/vavr/collection/CharSeq.java
  src/main/java/io/vavr/collection/Collections.java
  src/main/java/io/vavr/collection/List.java
  src/main/java/io/vavr/collection/Queue.java
  src/main/java/io/vavr/collection/Stream.java
  src/main/java/io/vavr/collection/Vector.java
Labels: design/refactoring/improvement, «vavr-collection»

#2524 Adjust PriorityQueue/TreeSet to not rely on Tuple2 implementing Comparable
  generator/Generator.sc
  src-gen/main/java/io/vavr/Tuple0.java
  src-gen/main/java/io/vavr/Tuple1.java
  src-gen/main/java/io/vavr/Tuple2.java
  src-gen/main/java/io/vavr/Tuple3.java
  src-gen/main/java/io/vavr/Tuple4.java
  src-gen/main/java/io/vavr/Tuple5.java
  src-gen/main/java/io/vavr/Tuple6.java
  src-gen/main/java/io/vavr/Tuple7.java
  src-gen/main/java/io/vavr/Tuple8.java
  src-gen/test/java/io/vavr/Tuple0Test.java
  src-gen/test/java/io/vavr/Tuple1Test.java
  src-gen/test/java/io/vavr/Tuple2Test.java
  src-gen/test/java/io/vavr/Tuple3Test.java
  src-gen/test/java/io/vavr/Tuple4Test.java
  src-gen/test/java/io/vavr/Tuple5Test.java
  src-gen/test/java/io/vavr/Tuple6Test.java
  src-gen/test/java/io/vavr/Tuple7Test.java
  src-gen/test/java/io/vavr/Tuple8Test.java
  src/main/java/io/vavr/collection/PriorityQueue.java
  src/main/java/io/vavr/collection/TreeSet.java
  src/test/java/io/vavr/TupleTest.java
  src/test/java/io/vavr/collection/AbstractTraversableTest.java
  src/test/java/io/vavr/collection/PriorityQueueTest.java
  src/test/java/io/vavr/collection/TreeSetTest.java
Labels: !BACK-COMPAT, design/refactoring/improvement

#2527 Simplifying repetitive max/min semantics implemented using ternary operator
  src/main/java/io/vavr/collection/Array.java
  src/main/java/io/vavr/collection/IndexedSeq.java
  src/main/java/io/vavr/collection/LinearSeq.java
  src/main/java/io/vavr/collection/List.java
Labels: design/refactoring/improvement, «vavr-collection»

#2528 Deprecate current for-comprehension API
  generator/Generator.sc
  src-gen/main/java/io/vavr/API.java
Labels: deprecation, «vavr-core»

#2530 Replace deprecated Gradle classifier usage archiveClassifier
  build.gradle
Labels: build/infrastructure/ide

#2531 Bump Gradle Wrapper to 6.0.1
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
Labels: build/infrastructure/ide

#2533 Implement Iterator#toSeq
  src/main/java/io/vavr/collection/Iterator.java
  src/test/java/io/vavr/collection/IteratorTest.java
Labels: design/refactoring/improvement, «vavr-collection»

#2534 Avoid presizing arrays when passing them to Collection#toArray() calls
  src/main/java/io/vavr/Value.java
Labels: design/refactoring/improvement, «vavr-core»

#2538 Configure basic GitHub Actions workflow: release-drafter
  .github/release-drafter.yml
  .github/workflows/release-drafter.yml
Labels: build/infrastructure/ide, release

#2540 Remove PriorityQueueBase
  src/main/java/io/vavr/collection/PriorityQueue.java
Labels: design/refactoring/improvement, «vavr-collection»

#2541 Implement standard collection collectors using Collections#seqCollector()
  src/main/java/io/vavr/collection/Array.java
  src/main/java/io/vavr/collection/CharSeq.java
  src/main/java/io/vavr/collection/Collections.java
  src/main/java/io/vavr/collection/HashMap.java
  src/main/java/io/vavr/collection/HashSet.java
  src/main/java/io/vavr/collection/LinkedHashMap.java
  src/main/java/io/vavr/collection/LinkedHashSet.java
  src/main/java/io/vavr/collection/List.java
  src/main/java/io/vavr/collection/PriorityQueue.java
  src/main/java/io/vavr/collection/Queue.java
  src/main/java/io/vavr/collection/Stream.java
  src/main/java/io/vavr/collection/Tree.java
  src/main/java/io/vavr/collection/TreeMap.java
  src/main/java/io/vavr/collection/TreeSet.java
  src/main/java/io/vavr/collection/Vector.java
Labels: design/refactoring/improvement, «vavr-collection»

#2542 Fixes javadoc
  src/main/java/io/vavr/control/Try.java
Labels: documentation, «vavr-control»

#2543 Split and updated contribution and release guidelines
  CONTRIBUTING.md
  RELEASE.md
  build.gradle
Labels: documentation

#2545 Reuse Collections#toListAndThen Collector where possible
  src/main/java/io/vavr/collection/Array.java
  src/main/java/io/vavr/collection/CharSeq.java
  src/main/java/io/vavr/collection/Collections.java
  src/main/java/io/vavr/collection/HashMap.java
  src/main/java/io/vavr/collection/HashMultimap.java
  src/main/java/io/vavr/collection/HashSet.java
  src/main/java/io/vavr/collection/LinkedHashMap.java
  src/main/java/io/vavr/collection/LinkedHashMultimap.java
  src/main/java/io/vavr/collection/LinkedHashSet.java
  src/main/java/io/vavr/collection/List.java
  src/main/java/io/vavr/collection/PriorityQueue.java
  src/main/java/io/vavr/collection/Queue.java
  src/main/java/io/vavr/collection/Stream.java
  src/main/java/io/vavr/collection/Tree.java
  src/main/java/io/vavr/collection/TreeMap.java
  src/main/java/io/vavr/collection/TreeMultimap.java
  src/main/java/io/vavr/collection/TreeSet.java
  src/main/java/io/vavr/collection/Vector.java
Labels: design/refactoring/improvement, «vavr-collection»

#2544 Update zeroturnaround blog link about executors
  src/main/java/io/vavr/concurrent/Future.java
Labels: documentation, «vavr-concurrent»

#2532 Unify bi-operators throughout the library #2190
  src/main/java/io/vavr/control/Either.java
  src/main/java/io/vavr/control/Option.java
  src/main/java/io/vavr/control/Try.java
  src/main/java/io/vavr/control/Validation.java
Labels: design/refactoring/improvement
