Repository vavr-io/vavr, pull requests merged in 2019-11, with the labels that each got.

#2498 Add test for Array#get()
  src/test/java/io/vavr/collection/ArrayTest.java
Labels: test/benchmark, «vavr-collection»

#2504 Add code examples for Try
  src/main/java/io/vavr/control/Try.java
Labels: documentation, «vavr-control»

#2506 Typo and method reference folding changes for test/s
  src/test/java/io/vavr/CheckedConsumerTest.java
  src/test/java/io/vavr/CheckedPredicateTest.java
  src/test/java/io/vavr/CheckedRunnableTest.java
  src/test/java/io/vavr/FoldOperatorTest.java
  src/test/java/io/vavr/OutputTester.java
  src/test/java/io/vavr/concurrent/Concurrent.java
Labels: design/refactoring/improvement, «cross cutting»

#2508 Adjust Javadoc of LinkedHashSet::add.
  src/main/java/io/vavr/collection/LinkedHashSet.java
Labels: documentation, «vavr-collection»

#2515 Adding code examples for Array methods
  src/main/java/io/vavr/collection/Array.java
Labels: documentation, «vavr-collection»
