Repository vavr-io/vavr, pull requests merged in 2019-07, with the labels that each got.

#2423 Bumped version to 1.0.0-SNAPSHOT
  pom.xml
  vavr-benchmark/pom.xml
  vavr-match-processor/pom.xml
  vavr-match/pom.xml
  vavr-test/pom.xml
  vavr/pom.xml
Labels: release, «non-public»

#2414 #2402 Introduce "filterNot" method and deprecate "reject"
  vavr/src/main/java/io/vavr/Lazy.java
  vavr/src/main/java/io/vavr/collection/AbstractMultimap.java
  vavr/src/main/java/io/vavr/collection/AbstractQueue.java
  vavr/src/main/java/io/vavr/collection/Array.java
  vavr/src/main/java/io/vavr/collection/BitSet.java
  vavr/src/main/java/io/vavr/collection/CharSeq.java
  vavr/src/main/java/io/vavr/collection/Collections.java
  vavr/src/main/java/io/vavr/collection/HashMap.java
  vavr/src/main/java/io/vavr/collection/HashSet.java
  vavr/src/main/java/io/vavr/collection/IndexedSeq.java
  vavr/src/main/java/io/vavr/collection/Iterator.java
  vavr/src/main/java/io/vavr/collection/LinearSeq.java
  vavr/src/main/java/io/vavr/collection/LinkedHashMap.java
  vavr/src/main/java/io/vavr/collection/LinkedHashSet.java
  vavr/src/main/java/io/vavr/collection/List.java
  vavr/src/main/java/io/vavr/collection/Map.java
  vavr/src/main/java/io/vavr/collection/Maps.java
  vavr/src/main/java/io/vavr/collection/Multimap.java
  vavr/src/main/java/io/vavr/collection/Seq.java
  vavr/src/main/java/io/vavr/collection/Set.java
  vavr/src/main/java/io/vavr/collection/SortedMap.java
  vavr/src/main/java/io/vavr/collection/SortedMultimap.java
  vavr/src/main/java/io/vavr/collection/SortedSet.java
  vavr/src/main/java/io/vavr/collection/Stream.java
  vavr/src/main/java/io/vavr/collection/Traversable.java
  vavr/src/main/java/io/vavr/collection/Tree.java
  vavr/src/main/java/io/vavr/collection/TreeMap.java
  vavr/src/main/java/io/vavr/collection/TreeSet.java
  vavr/src/main/java/io/vavr/collection/Vector.java
  vavr/src/main/java/io/vavr/control/Either.java
  vavr/src/main/java/io/vavr/control/Option.java
  vavr/src/main/java/io/vavr/control/Try.java
  vavr/src/test/java/io/vavr/LazyTest.java
  vavr/src/test/java/io/vavr/collection/AbstractMapTest.java
  vavr/src/test/java/io/vavr/collection/AbstractMultimapTest.java
  vavr/src/test/java/io/vavr/collection/AbstractTraversableTest.java
  vavr/src/test/java/io/vavr/collection/CharSeqTest.java
  vavr/src/test/java/io/vavr/collection/IntMap.java
  vavr/src/test/java/io/vavr/collection/IntMultimap.java
  vavr/src/test/java/io/vavr/collection/IteratorTest.java
  vavr/src/test/java/io/vavr/collection/TreeTest.java
  vavr/src/test/java/io/vavr/control/EitherTest.java
  vavr/src/test/java/io/vavr/control/OptionTest.java
  vavr/src/test/java/io/vavr/control/TryTest.java
Labels: feature, «cross cutting»

#2404 Adding OpenJDK12 to Travis CI build matrix
  .travis.yml
  vavr/src/test/java/io/vavr/MatchTest.java
Labels: build/infrastructure/ide

#2426 Fixes DistictIterator to not eat null values
  vavr/src/main/java/io/vavr/collection/Iterator.java
  vavr/src/test/java/io/vavr/collection/IteratorTest.java
Labels: bug, «vavr-collection»

#2428 Added impossible patmat case in order to verify #2419
  vavr/src/test/java/io/vavr/MatchTest.java
Labels: test/benchmark, «vavr-api»

#2429 Implement deterministic shuffling
  vavr/src/main/java/io/vavr/collection/Array.java
  vavr/src/main/java/io/vavr/collection/CharSeq.java
  vavr/src/main/java/io/vavr/collection/Collections.java
  vavr/src/main/java/io/vavr/collection/IndexedSeq.java
  vavr/src/main/java/io/vavr/collection/LinearSeq.java
  vavr/src/main/java/io/vavr/collection/List.java
  vavr/src/main/java/io/vavr/collection/Queue.java
  vavr/src/main/java/io/vavr/collection/Seq.java
  vavr/src/main/java/io/vavr/collection/Stream.java
  vavr/src/main/java/io/vavr/collection/Vector.java
  vavr/src/test/java/io/vavr/collection/AbstractSeqTest.java
  vavr/src/test/java/io/vavr/collection/CharSeqTest.java
Labels: feature, «vavr-collection»

#2430 Future.reduce considers executor
  vavr/src/main/java/io/vavr/concurrent/Future.java
Labels: bug, «vavr-concurrent»

#2433 Re-implemented ConcatIterator
  vavr/src/main/java/io/vavr/collection/Iterator.java
  vavr/src/test/java/io/vavr/collection/IteratorTest.java
Labels: design/refactoring/improvement, «vavr-collection»

#2434 Removed AbstractIterator, improved internal iterators
  vavr/src/main/java/io/vavr/collection/AbstractIterator.java
  vavr/src/main/java/io/vavr/collection/Array.java
  vavr/src/main/java/io/vavr/collection/BitSet.java
  vavr/src/main/java/io/vavr/collection/Collections.java
  vavr/src/main/java/io/vavr/collection/HashArrayMappedTrie.java
  vavr/src/main/java/io/vavr/collection/IndexedSeq.java
  vavr/src/main/java/io/vavr/collection/Iterator.java
  vavr/src/main/java/io/vavr/collection/RedBlackTree.java
  vavr/src/main/java/io/vavr/collection/Stream.java
  vavr/src/main/java/io/vavr/collection/Traversable.java
  vavr/src/test/java/io/vavr/collection/IteratorTest.java
Labels: !BACK-COMPAT, design/refactoring/improvement, «vavr-collection»

#2435 Deprecated Foldable
  vavr/src/main/java/io/vavr/collection/Foldable.java
  vavr/src/main/java/io/vavr/collection/Traversable.java
Labels: design/refactoring/improvement, «vavr-collection»

#2443 Adds openjdk13 to build matrix
  .travis.yml
Labels: build/infrastructure/ide, «non-public»

#2444 More comprehensive generate sources task
  build.gradle
Labels: build/infrastructure/ide, «non-public»

#2452 Sealed ADTs
  generator/Generator.sc
  src-gen/main/java/io/vavr/API.java
  src/main/java/io/vavr/collection/BitSet.java
  src/main/java/io/vavr/collection/List.java
  src/main/java/io/vavr/collection/Stream.java
  src/main/java/io/vavr/collection/Tree.java
  src/main/java/io/vavr/control/Either.java
  src/main/java/io/vavr/control/Option.java
  src/main/java/io/vavr/control/Try.java
  src/main/java/io/vavr/control/Validation.java
  src/test/java/io/vavr/MatchTest.java
Labels: !BACK-COMPAT, design/refactoring/improvement, «cross cutting»

#2455 Test cleanup
  src/test/java/io/vavr/collection/AbstractSeqTest.java
  src/test/java/io/vavr/collection/CharSeqTest.java
Labels: test/benchmark, «vavr-collection»

#2454 Improve shuffle test
  src/test/java/io/vavr/collection/AbstractSeqTest.java
  src/test/java/io/vavr/collection/CharSeqTest.java
Labels: test/benchmark, «vavr-collection»

#2459 [typo] Fix javadoc
  src/main/java/io/vavr/collection/Traversable.java
Labels: documentation, «vavr-collection»

#2460 Added funding file
  .github/FUNDING.yml
Labels: help wanted

#2461 Add javadoc examples to Either (#2458)
  src/main/java/io/vavr/control/Either.java
Labels: documentation, «vavr-control»

#2462 Deprecated remaining pattern matching artifacts
  build.gradle
  src/main/java/io/vavr/MatchError.java
  src/main/java/io/vavr/PartialFunction.java
  src/main/java/io/vavr/Predicates.java
Labels: deprecation, «vavr-core»

#2463 Fixated bytecode version for test classes
  build.gradle
Labels: build/infrastructure/ide, test/benchmark, «cross cutting»

#2464 Added javadoc for validation class
  src/main/java/io/vavr/control/Validation.java
Labels: documentation, «cross cutting»

#2468 Replace classes Right, Left by factory methods in Javadoc examples
  src/main/java/io/vavr/control/Either.java
Labels: documentation, «cross cutting»

#2469 Code examples for Either methods
  src/main/java/io/vavr/control/Either.java
Labels: documentation, «vavr-control»

#2470 Remove references to deprecated code
  src/main/java/io/vavr/collection/List.java
  src/main/java/io/vavr/control/Try.java
Labels: documentation, «cross cutting»

#2471 Adds missing transform methods.
  src/main/java/io/vavr/collection/BitSet.java
  src/main/java/io/vavr/collection/PriorityQueue.java
  src/main/java/io/vavr/collection/readme-contributing.md
  src/main/java/io/vavr/concurrent/readme-contributing.md
  src/main/java/io/vavr/control/Either.java
  src/main/java/io/vavr/control/Validation.java
  src/main/java/io/vavr/readme-contributing.md
  src/test/java/io/vavr/collection/BitSetTest.java
  src/test/java/io/vavr/collection/PriorityQueueTest.java
  src/test/java/io/vavr/control/EitherTest.java
  src/test/java/io/vavr/control/ValidationTest.java
  src/test/java/linter/CodingConventions.java
Labels: feature, «cross cutting»

#2472 Ensure license file is recognized by GitHub
  LICENSE
Labels: documentation

#2475 Removed GwtIncompatible annotations
  generator/Generator.sc
  src-gen/main/java/io/vavr/API.java
  src/main/java/io/vavr/GwtIncompatible.java
  src/main/java/io/vavr/Lazy.java
  src/main/java/io/vavr/Predicates.java
  src/main/java/io/vavr/Value.java
  src/main/java/io/vavr/collection/Array.java
  src/main/java/io/vavr/collection/CharSeq.java
  src/main/java/io/vavr/collection/Collections.java
  src/main/java/io/vavr/collection/GwtIncompatible.java
  src/main/java/io/vavr/collection/HashSet.java
  src/main/java/io/vavr/collection/IndexedSeq.java
  src/main/java/io/vavr/collection/Iterator.java
  src/main/java/io/vavr/collection/JavaConverters.java
  src/main/java/io/vavr/collection/LinearSeq.java
  src/main/java/io/vavr/collection/LinkedHashSet.java
  src/main/java/io/vavr/collection/List.java
  src/main/java/io/vavr/collection/PriorityQueue.java
  src/main/java/io/vavr/collection/Queue.java
  src/main/java/io/vavr/collection/Seq.java
  src/main/java/io/vavr/collection/Stream.java
  src/main/java/io/vavr/collection/Tree.java
  src/main/java/io/vavr/collection/TreeSet.java
  src/main/java/io/vavr/collection/Vector.java
  src/main/java/io/vavr/concurrent/Future.java
  src/main/java/io/vavr/concurrent/GwtIncompatible.java
  src/main/java/io/vavr/control/GwtIncompatible.java
  src/main/java/io/vavr/control/Try.java
Labels: !BACK-COMPAT, «gwt»

#2476 Javadoc formatting and linter fixes
  src/main/java/io/vavr/Iterable.java
  src/main/java/io/vavr/collection/List.java
  src/main/java/io/vavr/collection/Traversable.java
  src/main/java/io/vavr/collection/Tree.java
  src/main/java/io/vavr/concurrent/Future.java
  src/main/java/io/vavr/control/Either.java
  src/main/java/io/vavr/control/Try.java
  src/main/java/io/vavr/control/Validation.java
  src/test/java/io/vavr/collection/CharSeqTest.java
Labels: documentation, «cross cutting»
