Repository vavr-io/vavr, pull requests merged in 2019-03, with the labels that each got.

#2387 Modified throw behavior of Try.get
  src/main/java/io/vavr/control/Try.java
  src/test/java/io/vavr/control/TryTest.java
Labels: design/refactoring/improvement, «vavr-control»

#2388 Undeprecated commonly used methods like {Try, Option, Either}.get()
  build.gradle
  src/main/java/io/vavr/control/Either.java
  src/main/java/io/vavr/control/Option.java
  src/main/java/io/vavr/control/Try.java
  src/test/java/io/vavr/control/EitherTest.java
  src/test/java/io/vavr/control/OptionTest.java
  src/test/java/io/vavr/control/TryTest.java
Labels: design/refactoring/improvement

#2389 Added OpenJDK 12 to CI build matrix
  .travis.yml
Labels: build/infrastructure/ide

#2390 Implemented rethrow that handles both checked and unchecked exceptions
  src/main/java/io/vavr/control/Try.java
  src/test/java/io/vavr/control/TryTest.java
Labels: feature, «vavr-control»

#2391 documented Failure(null)
  src/main/java/io/vavr/control/Try.java
Labels: documentation, «vavr-control»

#2393 Setting the interrupted flag if Try fails with InterruptedException
  src/main/java/io/vavr/control/Try.java
  src/test/java/io/vavr/control/TryTest.java
Labels: design/refactoring/improvement, «vavr-control»

#2394 Added Try.onFailure(Class, Consumer)
  build.gradle
  src/main/java/io/vavr/collection/Iterator.java
  src/main/java/io/vavr/control/Try.java
  src/test/java/io/vavr/control/TryTest.java
Labels: feature, «vavr-control»

#2399 [Fix][Bug] #2382
  vavr/src/main/java/io/vavr/collection/CharSeq.java
  vavr/src/test/java/io/vavr/collection/CharSeqTest.java
Labels: bug, «vavr-collection»

#2403 ClassCastException during pattern matching
  vavr/generator/Generator.scala
  vavr/src-gen/main/java/io/vavr/API.java
  vavr/src-gen/test/java/io/vavr/APITest.java
Labels: bug, «vavr-api»
