Repository vavr-io/vavr, pull requests merged in 2020-05, with the labels that each got.

#2575 Backport "Avoid unnecessary copy in 'ofAll()' methods" to v0.10
  pom.xml
  vavr-benchmark/pom.xml
  vavr-match-processor/pom.xml
  vavr-match/pom.xml
  vavr-test/pom.xml
  vavr/pom.xml
  vavr/src/main/java/io/vavr/collection/Array.java
  vavr/src/main/java/io/vavr/collection/CharSeq.java
  vavr/src/main/java/io/vavr/collection/List.java
  vavr/src/main/java/io/vavr/collection/Queue.java
  vavr/src/main/java/io/vavr/collection/Stream.java
  vavr/src/main/java/io/vavr/collection/Vector.java
  vavr/src/test/java/io/vavr/collection/ArrayTest.java
  vavr/src/test/java/io/vavr/collection/CharSeqTest.java
  vavr/src/test/java/io/vavr/collection/ListTest.java
  vavr/src/test/java/io/vavr/collection/QueueTest.java
  vavr/src/test/java/io/vavr/collection/StreamTest.java
  vavr/src/test/java/io/vavr/collection/VectorTest.java
Labels: design/refactoring/improvement, «vavr-collection»

#2578 Upgrade to Gradle 6.3
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
Labels: build/infrastructure/ide

#2580 Option<>.collect() not to call PartialFunction on args where it is not defined
  src/main/java/io/vavr/PartialFunction.java
  src/test/java/io/vavr/control/OptionTest.java
Labels: bug, «vavr-control»

#2582 Revert "Removes the automatic module name (JPMS) because of a name clash."
  build.gradle
Labels: «cross cutting»

#2583 Backport: Re-adds the automatic module name
  vavr-match-processor/pom.xml
  vavr-match/pom.xml
  vavr-test/pom.xml
  vavr/pom.xml
Labels: bug, «cross cutting»

#2588 No more failures in the build
  .travis.yml
Labels: build/infrastructure/ide

#2590 Removed Map/Seq withDefault & withDefaultValue
  src/main/java/io/vavr/collection/Map.java
  src/main/java/io/vavr/collection/Seq.java
Labels: !BACK-COMPAT, design/refactoring/improvement, «vavr-collection»

#2594 fixes #2584 -- Add Seq.getOption(int) and Seq.getOrElse(int, T)
  src/main/java/io/vavr/collection/Array.java
  src/main/java/io/vavr/collection/CharSeq.java
  src/main/java/io/vavr/collection/LinearSeq.java
  src/main/java/io/vavr/collection/List.java
  src/main/java/io/vavr/collection/Queue.java
  src/main/java/io/vavr/collection/Seq.java
  src/main/java/io/vavr/collection/Stream.java
  src/main/java/io/vavr/collection/Vector.java
  src/test/java/io/vavr/collection/AbstractSeqTest.java
  src/test/java/io/vavr/collection/CharSeqTest.java
Labels: feature, «vavr-collection»

#2596 Updated javadoc of Seq.apply(Integer)
  src/main/java/io/vavr/collection/Seq.java
Labels: documentation, «vavr-collection»

#2597 Fix for Gradle deprecation warning on `testCompile` usage
  build.gradle
Labels: build/infrastructure/ide

#2595 WIP Add a version of toMap that accepts a mergeFunction
  src/main/java/io/vavr/collection/Traversable.java
  src/test/java/io/vavr/collection/CollectionsTest.java
Labels: feature, «vavr-collection»

#2598 Add a version of toSortedMap that accepts a mergeFunction
  src/main/java/io/vavr/collection/Traversable.java
  src/test/java/io/vavr/collection/CollectionsTest.java
Labels: feature, «vavr-collection»

#2577 Iterate once to create two iterators in partition
  src/main/java/io/vavr/collection/AbstractMultimap.java
  src/main/java/io/vavr/collection/BitSet.java
  src/main/java/io/vavr/collection/Collections.java
  src/main/java/io/vavr/collection/HashSet.java
  src/main/java/io/vavr/collection/Iterator.java
  src/main/java/io/vavr/collection/LinkedHashSet.java
  src/main/java/io/vavr/collection/Maps.java
  src/main/java/io/vavr/collection/Traversable.java
  src/main/java/io/vavr/collection/TreeSet.java
  src/test/java/io/vavr/collection/AbstractMapTest.java
  src/test/java/io/vavr/collection/AbstractMultimapTest.java
  src/test/java/io/vavr/collection/AbstractSetTest.java
  src/test/java/io/vavr/collection/ArrayTest.java
  src/test/java/io/vavr/collection/CharSeqTest.java
  src/test/java/io/vavr/collection/IteratorTest.java
  src/test/java/io/vavr/collection/ListTest.java
  src/test/java/io/vavr/collection/QueueTest.java
  src/test/java/io/vavr/collection/StreamTest.java
  src/test/java/io/vavr/collection/VectorTest.java
  src/test/java/io/vavr/issues/Issue2559Test.java
Labels: design/refactoring/improvement, «vavr-collection»

#2601 Add a version of toLinkedMap that accepts a mergeFunction
  src/main/java/io/vavr/collection/Traversable.java
  src/test/java/io/vavr/collection/CollectionsTest.java
Labels: feature, «vavr-collection»
