Repository vavr-io/vavr, pull requests merged in 2021-12, with the labels that each got.

#2696 Updating Gradle version to make it compatible with Java 17
  gradle/wrapper/gradle-wrapper.properties
Labels: build/infrastructure/ide

#2689 Performance improvement for List::unfold, List::unfoldLeft
  src/main/java/io/vavr/collection/List.java
Labels: design/refactoring/improvement, «vavr-collection»

#2687 Issue #2634 - add group() function to Seq
  src/main/java/io/vavr/collection/Array.java
  src/main/java/io/vavr/collection/CharSeq.java
  src/main/java/io/vavr/collection/Collections.java
  src/main/java/io/vavr/collection/IndexedSeq.java
  src/main/java/io/vavr/collection/LinearSeq.java
  src/main/java/io/vavr/collection/List.java
  src/main/java/io/vavr/collection/Queue.java
  src/main/java/io/vavr/collection/Seq.java
  src/main/java/io/vavr/collection/Stream.java
  src/main/java/io/vavr/collection/Vector.java
  src/test/java/io/vavr/collection/AbstractSeqTest.java
  src/test/java/io/vavr/collection/CharSeqTest.java
Labels: feature, «vavr-collection»
